.cspio body {
  background: transparent;
}

.cspio body,
.cspio body p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: #ffffff;
}

::-webkit-input-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

::-moz-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

:-moz-placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#cspio-socialprofiles a {
  color: #ffffff;
}

#cspio-headline {
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
  line-height: 1em;
  margin-top: 0;
}

#cspio-content {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  display: none;
  max-width: 600px;
  background-color: #000000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
}

#cspio-page {
  background: -moz-radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 37%,
    rgba(0, 0, 0, 0) 68%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: rgba(0, 0, 0, 0);
}

.cspio body {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.23) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=1 );
}

html {
  height: 100%;
  margin-top: 0 !important;
  overflow: hidden;
  background: #ffffff
    url(https://images.unsplash.com/photo-1501914334045-d73f21057207?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2700&q=80)
    no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  padding: 0 0px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cspio-page {
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100%;
}

.flexbox #cspio-page {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

#cspio-description,
#cspio-logo,
#cspio-socialprofiles,
#cspio-privacy-policy-txt,
#cspio-headline {
  margin-bottom: 30px;
}

#cspio-socialprofiles a {
  padding-right: 7px;
  display: inline-block;
}

@media (max-width: 480px) {
  #cspio-page {
    padding-top: 10px;
  }

  .flexbox #cspio-page {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
}