#result-table {
	text-align: center;
	display: none;
}

#result-table th {
	vertical-align:	middle;
}

#result-table td {
	vertical-align:	middle;
}

#result-table .player-stat {
	background-color: #c6c8ca;
}